.yoimages-search {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
}

.yoimages-search-label {
	display: block;
	position: relative;
	padding: 16px 1%;
	margin: 0;
	z-index: 250;
	background: #fff;
	font-size: 18px;
}

.yoimages-search-label input {
	font-size: 18px;
	padding: 12px 14px;
	width: 100%;
	min-width: 200px;
	-webkit-box-shadow: inset 2px 2px 4px -2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 2px 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.yoimages-search-results {
	position: absolute;
	overflow: auto;
	bottom: 0;
	left: 0;
	right: 0;
	top: 74px;
}

.yoimages-search-results ul {
	margin: 0;
	padding: 0 1%;
	-moz-column-count: 1;
	-moz-column-gap: 0;
	-webkit-column-count: 1;
	-webkit-column-gap: 0;
	column-count: 1;
	column-gap: 0;
	width: 98%;
}

@media ( min-width : 768px) {
	.yoimages-search-results ul {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}

@media ( min-width : 992px) {
	.yoimages-search-results ul {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}

@media ( min-width : 1200px) {
	.yoimages-search-results ul {
		-moz-column-count: 4;
		-webkit-column-count: 4;
		column-count: 4;
	}
}

.yoimages-search-results ul li.yoimages-search-result {
	background-position: 50%;
	width: 98%;
	margin: 0 0 .5% 0;
	padding: 1% 1% 0 1%;
	height: auto;
	opacity: 1;
	filter: alpha(opacity = 100);
	position: relative;
	visibility: visible;
	opacity: 1;
	-moz-column-span: 1;
	-webkit-column-span: 1;
	-ms-column-span: 1;
	column-span: 1;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	display: table;
}

.yoimages-search-results ul li.yoimages-search-result.selected {
	-webkit-box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #1e8cbe;
	box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #1e8cbe;
}

.yoimages-search-results ul li.yoimages-search-result img {
	width: 98%;
	cursor: pointer;
	padding: 1%;
}

.yoimages-search-results .yoimages-search-result .yoimages-search-result-about
	{
	display: inline-block;
	margin: 0 0 12px 6px;
}

.yoimages-search-results ul li.yoimages-search-result .check {
	display: none;
}

.yoimages-search-results ul li.yoimages-search-result.selected .check {
	display: block;
	position: absolute;
	top: 3px;
	right: 3px;
	z-index: 10;
	height: 24px;
	width: 24px;
	outline: none;
	background-color: #1e8cbe;
	-webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #1e8cbe;
	box-shadow: 0 0 0 1px #fff, 0 0 0 2px #1e8cbe;
}

.yoimages-search-results ul li.yoimages-search-result.selected .check div
	{
	background-position: -21px 0;
	height: 15px;
	width: 15px;
	margin: 5px;
}

.yoimages-search-results ul li.yoimages-search-result.selected .check:hover div
	{
	background-position: -60px 0;
}

.media-frame .spinner.yoimages-search-spinner {
	display: inline-block;
	float: left;
	margin-top: 20px;
}

.yoimages-search-label.error.warning {
	border-left-color: #FFFF00;
}

.yoimages-search-label .spinner {
	float: left;
}

.yoimages-search-label .spinner.is-active, .media-frame .spinner.yoimages-search-spinner.is-active
	{
	display: inline-block;
}