.yoimages-search-label {
	display: block;
	position: relative;
	padding: 16px 1%;
	margin: 0;
	z-index: 250;
	background: #fff;
	font-size: 18px;
}

.yoimages-search-label input {
	font-size: 18px;
	padding: 12px 14px;
	width: 100%;
	min-width: 200px;
	-webkit-box-shadow: inset 2px 2px 4px -2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 2px 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.yoimages-search-label .spinner {
	position: absolute;
	top: 29px;
	right: 26px;
}

.yoimages-search-results ul {
	margin: 0;
	padding: 0;
}

.yoimages-search-results ul li.yoimages-search-result {
	background-position: 50%;
	float: left;
	width: 18%;
	margin: 0;
	padding: 1%;
	display: list-item;
	height: auto;
	opacity: 1;
	filter: alpha(opacity = 100);
	position: relative;
	visibility: visible;
}

.yoimages-search-results ul li.yoimages-search-result.selected {
	-webkit-box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #1e8cbe;
	box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #1e8cbe;
}

.yoimages-search-results ul li.yoimages-search-result img {
	width: 100%;
	cursor: pointer;
}

.yoimages-search-results ul li.yoimages-search-result .check {
	display: none;
}

.yoimages-search-results ul li.yoimages-search-result.selected .check {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	height: 24px;
	width: 24px;
	outline: none;
	background-color: #1e8cbe;
	-webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #1e8cbe;
	box-shadow: 0 0 0 1px #fff, 0 0 0 2px #1e8cbe;
}

.yoimages-search-results ul li.yoimages-search-result.selected .check div
	{
	background-position: -21px 0;
	height: 15px;
	width: 15px;
	margin: 5px;
}

.yoimages-search-results ul li.yoimages-search-result.selected .check:hover div
	{
	background-position: -60px 0;
}

.media-frame .spinner.yoimages-search-spinner {
	display: inline-block;
	float: left;
	margin-top: 20px;
}

.yoimages-search-label.error.warning {
	border-left-color: #FFFF00;
}

.yoimages-search-label .spinner.is-active, .media-frame .spinner.yoimages-search-spinner.is-active
	{
	display: inline-block;
}